<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="trendGroupsConfig" type="IC.RCS.RCSCore.TrendGroupConfig, IC.RCS.RCSCore"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	<appSettings>
		<add key="logFilePath" value="C:\"/>
		<add key="serverName" value= ".\sqlexpress"/>
		<add key="databaseName" value="ehtplus"/>
		<add key="userName" value="EHTTransferService"/>
		<add key="databaseName" value="EHTTransferService"/>
	</appSettings>
	<trendGroupsConfig>
		<trendGroups>
			<add guid="e89cefc4-0011-4a6c-8524-49bdac06858d" name="NVENT Test"
			 description="" ismonitored="false" lastrefreshtime="2024-03-05 07:28:28"
			 scanrate="60" />
			<add guid="da9be7b1-c75d-484d-946f-4c4f83b4861e" name="Thermon"
			 description="" ismonitored="true" lastrefreshtime="2024-03-05 08:32:38"
			 scanrate="60" />
		</trendGroups>
	</trendGroupsConfig>
</configuration>
